// this variables are not used

$primary-color: #63b15b;
$primary-color-light: #97c991;
$primary-color-lighter: #e6f7e3;
$secondary-color: #cbcdda;
$color-yellow: #efc518;


$background-primary-color: #fff;
$background-secondary-color: #f7f7f7;

$font-color-primary: #333333;
$font-color-secondary: #676666;
$font-color-tertiary: $primary-color;

$btn-radius: 5px;
$element-radius: 5px;
$element-radius-bigger: 10px;
